<article class="page">
	<h2>Github</h2>

	<h2><a href="{{ user.html_url }}" target="_blank">{{ user.name }}</a></h2>

	{% for repo in repositories %}
		<div>
			<a href="{{ repo.html_url }}" target="_blank">
				{{ repo.name }}
			</a>
			<br>
			{{ repo.description }}
		</div>
		<br>
	{% endfor %}

</article>
