{% do headlink().appendStylesheet(basePath('/../themes/default/css/main.css')) %}

{{- doctype() }}
<html>

    <head>
		{{ headTitle("Socialog").setSeparator(' - ')|raw }}
		{{ headLink() }}
		{{ headScript() }}
    </head>
    <body>
		{% trigger "theme:page.top" %}

		<header class="main-header">
			<hgroup>
				<img src="{{ profile().photourl }}">
				<h1>{{ profile().name }}</h1>
                <h2>{{ profile().tagline }}</h2>
			</hgroup>
			{% include "navigation" %}
		</header>

		<section class="content">
			{{ content|raw }}
		</section>

		{{ inlineScript() }}

		{% trigger "theme:page.bottom" %}
    </body>
</html>
